# **Data structure**

**Q 1 What are data structures, and why are they important ?**
  - Data structures are ways of organizing and storing data so that it can be accessed and used efficiently by the user after they are created. for example strings, array , lists , sets ,dictionary etc.
  - Importance of the data structure are.

  1 make code easier to understand.

  2 make code more efficent to use for new codder.

  3 Data structures are used to design algorithms for solving complex problems.

  4 Data structures help users and systems organize, work with, and store data.

**Q 2 Explain the difference between mutable and immutable data types with examples ?**
  - Mutable Data Type  - Mutable Data Type are data Type that can be changed after they are created.
  
  Examples - lists, array etc

   l=["apple","banana",1,1.2,259]

   l[0]="mango"

   l[-1]=365

   print(l)

   output -  ['mango', 'banana', 1, 1.2, 365]

  - Immutable Data Type - Immutable Data Type are data type that can't be changed after they are created.

   Examples - tuples, strings

   string= "hello"

   string[0]="A"

   output - TypeError: 'str' object does not support item assignment

**Q 3 What are the main differences between lists and tuples in Python ?**
  - The main difference between lists and tuples are that list is mutable and tuple is immutable.

**Q 4 Describe how dictionaries store data ?**
  - Dictionaries are data type which is collection of ordered , changeable data type.

  dictionaries are used to store data values as pair of Keys and values in hash table.

  Example -
  
            dic={"name":"rohan","surname":"sharma"}

           #input as keys     #output as values
            dic["name"]      output - 'rohan'

            dic["surname"]   output - 'sharma'
      
**Q 5 Why might you use a set instead of a list in Python ?**
  - We can use set instead of a list because set cannot have multiple occurrences of the same element.
  - Sets do not allows duplicacy but in lists we can have same variable for many times

**Q 6 What is a string in Python, and how is it different from a list?**
  - String - string is a sequence of characters in quotes.
             
             string is a immutable data type means can't change after they are created.

     List - list is a sequence of items in brackets.list is heterogeneous data type means can store different kind of variables in them.
           
           list is a mutable data type means can change after they are created.

**Q 7 How do tuples ensure data integrity in Python?**
  - Tuples ensure data integrity in python because they are immutable data type means can't change after they are created.
  
  for example
  
  tup=(12,25,36)

  tup[0]=29

  output:

  TypeError: 'tuple' object does not support item assignment


**Q 8 What is a hash table, and how does it relate to dictionaries in Python?**
  - A hash table is a data structure where data is stored in an associative manner.That allows for quick insertion, deletion, and retrieval of data. It works by using a hash function to map a key to an index in an array.

  it is related to dictionaries as in dictionaries their are key and values pair to store the data and dictionary data type used hash table to store the data and to access the data and for fast data retrieval

**Q 9 Can lists contain different data types in Python?**
  - List is a sequence of items in brackets [ ].
  
  - Yes lists can contain differnts data type in python as flows string,integer,characters,float,boolean,complex numbers etc.

  Example - l1=["array",12,12.6,True,"a",3+6j]

**Q 10 Explain why strings are immutable in Python?**
  -  string= "hello"

     string[0]="A"

   output - TypeError: 'str' object does not support item assignment.

   Explanation: We cannot update the string after declaring it means once an immutable the objects instantiated, its value cannot be changed.
  
**Q 11 What advantages do dictionaries offer over lists for certain tasks?**
  - Dictionaries are faster than lists for certain tasks like data retrieval.
    Dictionaries are also easier to read when generating key-value pairs.

**Q 12 Describe a scenario where using a tuple would be preferable over a list?**
  - In employId tuple is preferable then the list because tuple is immutable but list is mutable because employId is a data which can't be changed after it is created. EmployId is the key to find more details about the specific employ  

**Q 13 How do sets handle duplicate values in Python?**
  - Sets do not allow duplicate values in python and they will take it as one variable only.
  Set use a hash table to store elements When you add a value Python calculates its hash and places it in a unique position.
  if a duplicate value is added, Python checks its hash and sees that it already exists, so it ignores the new one.                       
  for example -
                s={"orange","blue","orange","red","blue"}
                print(s)
                output - {'orange','blue','red'} it may vary because set is unordered data type
                
**Q 14 How does the “in” keyword work differently for lists and dictionaries?**
  - In keyword work for list to check whether the variable is present in a list as a index but in dictionary it is used to check whether the Key is present or not.

**Q 15 Can you modify the elements of a tuple? Explain why or why not?**
  - We can't modify the elements of tuple because tuple is immutable means can't change after they are created.
  
  tuple=(1,2,"bhan","manjai",259,12.2)

  tuple[3]     output - 'manjai'

  tuple[3]="manoj"
  output - TypeError: 'tuple' object does not support item assignment

**Q 16 What is a nested dictionary, and give an example of its use case?**
  - A nested dictionary is a dictionary inside a dictionary. It's a collection of dictionaries into one single dictionary.

  Example -    
                    nested_dict = { 'dictA': {'key_1': 'value_1'},
                                    'dictB': {'key_2': 'value_2'}}
           
           output - {'dictA': {'key_1': 'value_1'}, 'dictB': {'key_2': 'value_2'}}

**Q 17 Describe the time complexity of accessing elements in a dictionary?**
  - The time complexity of accessing the elements in a dictionary is **O(1)**.
    This is because dictionaries use a hash table internally which allows constant time lookup.

    example -
              dic = {"a":1,"b":2,"c":3}
              val= dic["b"]
              print(val)

              output - 2

**Q 18 In what situations are lists preferred over dictionaries ?**
  - Lists are preferred over dictionaries in ordered collections and sequence operations, such as maintaining a stack or queue
  - Because in lists where you access elements by index the data were retrieval in the same ordered they were inserted.
  - Dictionaries are considered unordered because they stored key-value pairs in a hash table ,where elements were placed based on their hash value not in the ordered they were added.


**Q 19 Why are dictionaries considered unordered, and how does that affect data retrieval?**
  - Dictionaries are considered unordered because they stored key-value pairs in a hash table ,where elements were placed based on their hash value not in the ordered they were added.
  - Retriering keys or values in the same ordered they were inserted was not possible.
  - Unlike lists where you access elements by index, dictonary are optimized for fast Key-based access 0(1) not position-based retrieval

**Q 20 Explain the difference between a list and a dictionary in terms of data retrieval?**
  - Lists access elements via numerical index positions (starting from 0), while dictionaries use unique keys for efficient lookup, allowing faster retrieval of specific data (0(1)) time for accessing the data.

# **Practical Questions**

**Q 1 Write a code to create a string with your name and print it ?**

In [ ]:
name = "shubham verma"
name

'shubham verma'

**Q 2 Write a code to find the length of the string "Hello World"?**

In [ ]:
string= "Hello World"
len(string)

11

**Q 3 Write a code to slice the first 3 characters from the string "Python Programming"?**

In [ ]:
st= "Python Programming"
st[:3]

'Pyt'

**Q 4 Write a code to convert the string "hello" to uppercase ?**

In [ ]:
str="hello"
str.upper()

'HELLO'

**Q 5 Write a code to replace the word "apple" with "orange" in the string "I like apple"?**

In [ ]:
str="I like apple"
str.replace("apple","orange")

'I like orange'

**Q 6 Write a code to create a list with numbers 1 to 5 and print it ?**

In [ ]:
list=[1,2,3,4,5]
list
for i in list:
  print(i)

1
2
3
4
5

**Q 7 Write a code to append the number 10 to the list [1, 2, 3, 4]?**

In [ ]:
lst=[1,2,3,4]
lst.append(10)
lst

[1, 2, 3, 4, 10]

**Q 8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?**

In [ ]:
lst= [1,2,3,4,5]
lst.remove(3)
lst

[1, 2, 4, 5]

**Q 9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']?**

In [ ]:
lst= ["a","b","c","d"]
lst[1]

'b'

**Q 10 Write a code to reverse the list [10, 20, 30, 40, 50]?**

In [ ]:
lst=[10, 20, 30, 40, 50]
lst[::-1]

[50, 40, 30, 20, 10]

**Q 11  Write a code to create a tuple with the elements 100, 200, 300 and print it?**

In [ ]:
tuple=(100,200,300)
tuple

(100, 200, 300)

**Q 12  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?**

In [ ]:
tuple=('red', 'green', 'blue', 'yellow')
tuple[1:]

('green', 'blue', 'yellow')

**Q 13 Write a code to find the minimum number in the tuple (10, 20, 5, 15)?**

In [ ]:
tuple=(10, 20, 5, 15)
min(tuple)

5

**Q 14  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?**

In [ ]:
tuple=('dog', 'cat', 'rabbit')
tuple.index("cat")

1

**Q 15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?**

In [ ]:
tup=("mango","apple","kiwi","banana","orange")
"kiwi" in tup

True

**Q 16 Write a code to create a set with the elements 'a', 'b', 'c' and print it?**

In [ ]:
s={"a","b","c"}
s

{'a', 'b', 'c'}

**Q 17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}?**

In [ ]:
set={1,2,3,4,5}
set.clear()
set

set()

**Q 18 Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [ ]:
set={1,2,3,4}
set.remove(4)
set

{1, 2, 3}

**Q 19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}?**

In [ ]:
s1={1,2,3}
s2={3,4,5}
s1|s2

{1, 2, 3, 4, 5}

**Q 20  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}?**

In [ ]:
s1={1,2,3}
s2={2,3,4}
s1&s2

{2, 3}

**Q 21  Write a code to create a dictionary with the keys "name", "age", and "city", and print it?**

In [ ]:
dic={"name":"shubham","age":21,"city":"muzaffarnagar"}
dic

{'name': 'shubham', 'age': 21, 'city': 'muzaffarnagar'}

**Q 22  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}?**

In [ ]:
dic={"name":"John","age":25}
dic["country"]="USA"
dic

{'name': 'John', 'age': 25, 'country': 'USA'}

**Q 23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}?**

In [ ]:
dic={"name":"Alice","age":30}
dic["name"]

'Alice'

**Q 24  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}?**

In [ ]:
dic={"name":"Bob","age":22,"city":"New York"}
dic.pop("age")
dic

{'name': 'Bob', 'city': 'New York'}

**Q 25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}?**

In [ ]:
dic={"name":"Alice","city":"paris"}
if "city" in dic:
  print("The key 'city' exists in the dictionary.")
else:
  print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

**Q 26 Write a code to create a list, a tuple, and a dictionary, and print them all?**

In [4]:
list=[1,22,52.6,"shubham"]
tuple=(11,25,26,28,"bhanu")
dict={"name":"shubham","surname":"verma"}
print(f'List :- {list}\nTuple :- {tuple}\nDict :- {dict}')

List :- [1, 22, 52.6, 'shubham']
Tuple :- (11, 25, 26, 28, 'bhanu')
Dict :- {'name': 'shubham', 'surname': 'verma'}

**Q 27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)?**

In [ ]:
import random

random_numbers = []
for i in range(5):
  random_numbers.append(random.randint(1, 100))

random_numbers.sort()
random_numbers

[10, 69, 88, 92, 92]

**Q 28  Write a code to create a list with strings and print the element at the third index?**

In [ ]:
list=["A","b","v","m","k","h","l"]
list[3]

'm'

**Q 29 Write a code to combine two dictionaries into one and print the result?**

In [ ]:
dic1={"name":"shubham","age":22}
dic2={"surname":"verma","city":"muzaffarnagar"}
dic1.update(dic2)
dic1

{'name': 'shubham', 'age': 22, 'surname': 'verma', 'city': 'muzaffarnagar'}

**Q 30 Write a code to convert a list of strings into a set?**

In [ ]:
lis=["apple","mango","banana","orange","apple","mango"]
s=set(lis)
s

{'apple', 'banana', 'mango', 'orange'}

In [ ]:
type(s)

set